// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap')

$theme-red: #c70000
$theme-blue: #0d60be
$background: #e4e4e4
$navbar-background: #131313

#root
    font-family: 'Lato'
    display: flex
    justify-content: center
    align-items: center
    min-height: 100%
    background-color: $background

    .App
        background-color: white
        height: 100%
        width: 1024px

        #out-main
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            height: 100vh
            background-color: $background

            #auth
                background-color: white
                justify-content: center
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: center
                border: 1px solid #708eb5
                padding: 20px
                border-radius: 7px

                h1
                    font-size: 2em
                    padding: 20px
                    color: $theme-blue

                p.auth-notes
                    color: $theme-blue
                    font-size: 0.8em

                .auth-fields
                    display: flex
                    flex-direction: column
                    justify-content: center

                    label
                        align-self: flex-start
                        font-weight: bold
                        padding: 15px 0 5px 0

                    .auth-input
                        padding: 10px
                        border: 1px solid #708eb5
                        box-shadow: 0 0 15px 4px rgba(0,0,0,0.03)
                        border-radius: 7px
                        width: 200px

                button
                    margin: 15px
                    padding: 10px
                    border: 1px solid #b45f0f
                    background-color: #f0b411
                    color: white
                    font-weight: bold
                    box-shadow: 0 0 15px 4px rgba(0,0,0,0.03)
                    border-radius: 7px
                    width: 100%

            #private-message
                p
                    padding: 10px

        .topbar
            background-color: $theme-red
            height: 3em
            display: flex
            align-items: center

            h1
                margin-left: 10px
                color: white
                font-size: 2em
                font-weight: bold

        .main-wrapper
            display: flex
            flex-direction: row

            nav
                background-color: $navbar-background
                height: 100vh
                width: 20%
                min-width: 200px
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: flex-end

                .profile-image
                    margin-top: 30px
                    margin-right: 10px
                    width: 70px
                    border-style: solid
                    border-width: 1px
                    border-color: white
                    background-color: #dddddd

                .nav-links
                    margin-top: 20px
                    margin-right: 10px
                    font-size: 1.8em
                    font-weight: bold
                    color: white

                    a
                        color: white
                        text-decoration: none
                        &:hover
                            color: $theme-red

                    #logout
                        margin-top: 5px
                        cursor: pointer
                        &:hover
                            color: $theme-red

            main
                height: 100vh
                width: 100%

@media (pointer:coarse)
    #root
        .App
            width: 100%
            .main-wrapper
                flex-direction: column
